<h1>this is home</h1>
<head>
 <style>
     body{background-color: aquamarine;}
     h1 {color:black}
</style>
<title>Welcome to Tims homepage</title>
</head>
<body>
<h1>Welcome to the homepage!</h1>
<p>this is a home page for my rails class</p>
</body>
<%= link_to 'About', about_path %>
<%= link_to image_tag('afla_jango_logo'), about_path %>
